.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: var(--width-transition);
}

.switchers {
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
}

.lang {
    margin-left: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    
    .switchers {
        flex-direction: column;
        
        .lang {
            margin: 0;
        }
    }
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    z-index: 10;
}