.menuItem {
    margin-top: 15px;
    
    .link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        
        svg {
            margin-right: 10px;
            fill: var(--inverted-primary-color);
            width: 20px;
            height: auto;
        }
        
        span {
            transition: var(--defaul-transition);
        }
    }
}

.menuItem.collapsed .link span {
    width: 0;
    opacity: 0;
}
