.app_orange_theme {
    --bg-color: #FBF7F4;
    --inverted-bg-color: #FF780B;
    --primary-color: #E01300;
    --secondary-color: #E01300;
    --inverted-primary-color: #FBF7F4;
    --inverted-secondary-color: #FBF7F4;
    
    // skeleton
    --skeleton-color: rgba(224 20 0 / 20%);
    --skeleton-shadow: rgba(224 20 0 / 40%);
}